.footer {
  margin-top: 5vh;
  margin-bottom: 0vh;
  padding: 0;
}

.text {
  font-size: 0.5rem;
  color: #939EAD;
  text-align: center;
}

.icons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5vh;
}
