.footer {
  position: inherit;
  margin-top: 10vh;
  margin-bottom: 10vh;

}

.text {
  font-size: 0.5rem;
  color: #939EAD;
  text-align: center;
}

.icons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5vh;
}
