@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.hero {
  margin-top: 35vh;
  margin-bottom: 65vh;
}

.landing {
  float: right;
}

.title {
  margin-top: 30vh;
  color: aqua;
  padding-left: 5%;
  line-height: 2;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  justify-content: center;
}

.about {
  font-size: 26px;
}
