@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* @font-face {
  font-family: 'mavis-bold';
  src: url('./../components/fonts/MAVISBold.ttf');
}

@font-face {
  font-family: 'mavis-reg';
  src: url('./../components/fonts/MAVISRegular.ttf');
}

@font-face {
  font-family: 'mavis-light';
  src: url('./../components/fonts/MAVISLight.ttf');
} */

.hero {
  margin-top: 10vh;
  margin-bottom: 20vh;
}

/* .introCard {
    padding-top: 15vh;
} */

.image {
  background-image: url("../components/images/heroBackground.png");
  position: relative;
  /* z-index: 2; */
}


/* .lottie {
  float: center;
  position: relative;
  display: inline-flex;
} */

.title {
  /* text-align: center; */
  margin-top: 0vh;
  color: #fff;
  padding-left: 5%;
  line-height: 2;
  font-family: 'DM Serif Display', serif;
  font-size: 2.3vw;
  /* justify-content: center; */
}

.schematicStyle {
  padding-top: 0vh;
  /* font-size: 0.9vw; */
  font-size: 1.2vw;
  font-family: 'Freehand', cursive;
  color: #939EAD;
}

.h2 {
  font-size: 2rem;
  /* font-family: 'mavis-reg'; */
}

.about {
  font-size: 26px;
}

@media screen and (max-width: 550px) {


  .title {
    margin-top: 0vh;
    color: #fff;
    padding-left: 5%;
    line-height: 2;
    font-family: 'DM Serif Display', serif;
    font-size: 0.8rem;
    justify-content: center;
  }
}