@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.cover {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 2rem;
}

.blog {
  font-size: 1.5rem;
  background: #323A45;
  display: block;
  padding: 5vw 3vw ;
  margin: 0rem;
}

.title {
  font-family: 'Inconsolata', monospace;
  padding-top: 1rem;
  color: aqua;
}

.title h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 1.54rem;
  color: #7EDDD3;
}

.title h6 {
  font-family: 'Inconsolata', monospace;
  color: #7EDDD3;
  font-size: 0.8rem;
}

.content {
  font-family: 'Inconsolata', monospace;
  color: #939EAD;
}

.authdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.authtext {
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1rem;
}


@media screen and (max-width: 768px) {
  .blog {
    margin: 0rem 0rem;
  }
  .content {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
}
